alembic==1.0.0
aniso8601==3.0.2
asn1crypto==0.24.0
astroid==1.6.5
atomicwrites==1.1.5
attrs==18.1.0
backports.functools-lru-cache==1.5
bcrypt==3.1.4
cffi==1.11.5
click==6.7
configparser==3.5.0
cryptography==2.1.4
decorator==4.3.0
enum34==1.1.6
Flask==1.0.2
Flask-Bcrypt==0.7.1
Flask-Cors==3.0.6
Flask-JWT-Extended==3.12.0
flask-marshmallow==0.9.0
Flask-Migrate==2.2.1
Flask-RESTful==0.3.6
flask-restful-swagger-2==0.35
Flask-Script==2.0.6
Flask-SQLAlchemy==2.3.2
Flask-Testing==0.7.1
funcsigs==1.0.2

gunicorn==19.9.0

ipaddress==1.0.17
isort==4.3.4
itsdangerous==0.24
keyring==10.6.0
keyrings.alt==3.0
lazy-object-proxy==1.3.1
passlib==1.7.1
pluggy==0.6.0
psycopg2==2.7.5
psycopg2-binary==2.7.5
py==1.5.4
pycparser==2.18
pycrypto==2.6.1
PyJWT==1.6.4
pylint==1.9.2
pytest==3.6.3
python-dateutil==2.7.3
python-dotenv==0.8.2
python-editor==1.0.3
pytz==2018.5
pyxdg==0.25
SecretStorage==2.3.1
virtualenv==16.0.0
Werkzeug==0.14.1
wrapt==1.10.11
coveralls
pytest-cov